pip
Flask
SQLAlchemy
Flask-Login
Flask-User
Flask-Migrate
Flask-WTF
Flask-Uploads
Flask-Sijax
Jinja2
Werkzeug
gunicorn
itsdangerous
psycopg2
mock
dicts
paypalrestsdk
paypal
Flask-Session
Flask-Security
Flask-Social
oauth2client
google-api-python-client
http://github.com/pythonforfacebook/facebook-sdk/tarball/master