{% extends "base.html" %}
{% block additional %}
    {% include "layout.html" %}
{% endblock %}
{% block body %}
    <style>
        .not-active {
            pointer-events: none;
            cursor: default;
        }
        ul.card-action-buttons {
            margin: -26px 10px 0 0;
            text-align: right;
        }

        ul.card-action-buttons li {
            display: inline-block;
            padding-left: 5px;
        }
    </style>
    <script>
        function like(val) {
            send_data(val, '/like');
        }
        function watching(val){
            send_data(val, '/watching');
        }

        var send_data = function (e, address) {
            $.getJSON($SCRIPT_ROOT + address, {
                a: e
            });
        };
    </script>
    <div class="row">
        {% for i in event_lst %}
            {% if i.days > 0 %}
                <div class="col s12 m4 l4">
                    <div class="card large hoverable">
                        {% if i.format|string() == "image"|string() %}
                            <div class="card-image">
                                <a href="/details/{{ i.id }}"><img src="/static/posters/{{ i.poster }}"></a>
                                <a href="#" class="btn-floating btn-large btn-price waves-effect waves-light  pink accent-2"
                                   style="z-index:444;top:15px;left:28px;position: absolute;">${{ i.admission }}</a>
                            </div>
                        {% elif i.format|string() == "video"|string() %}
                            <video class="responsive-video" controls>
                                <source src="{{ i.poster }}">
                            </video>
                         {% else %}
                            <div class="video-container">
                                <iframe src="{{ i.poster }}"
                                        frameborder="0" allowfullscreen=""></iframe>
                            </div>
                        {% endif %}
                        <ul class="card-action-buttons">
                            <li>
                                <a class="btn-floating waves-effect waves-light green accent-4"
                                   onclick="Materialize.toast('Watching: '+ '{{ i.eventname }}', 4000, 'rounded'), watching({{ i.id }})">
                                    <i class="material-icons">remove_red_eye</i>
                                </a>
                            </li>
                            <li>
                                <a class="btn-floating waves-effect waves-light red accent-2"
                                   onclick="Materialize.toast('Liked: '+ '{{ i.eventname }}', 4000, 'rounded'), like({{ i.id }})">
                                    <i class="material-icons">favorite</i>
                                </a>
                            </li>
                            <li>
                                <span class="card-title activator grey-text text-darken-4">
                                    <a class="btn-floating waves-effect waves-light light-blue">
                                        <i class="material-icons">info</i>
                                    </a>
                                </span>
                            </li>
                        </ul>
                        <div class="card-content">
                                    <span class="card-title activator grey-text text-darken-4">
                                        <b>{{ i.eventname }}:</b>
                                        <span class="right-align"> {{ sum_page_count(i.id) }} Views</span>
                                    </span>
                        </div>
                        <div class="card-reveal">
                                <span class="card-title grey-text text-darken-4 center"><b>{{ i.eventname }}</b><i
                                        class="material-icons right">close</i></span>
                            <h6><b>Price</b>: ${{ i.admission }}</h6>
                            <h6><b>Date</b>: {{ i.date }}</h6>
                            <h6><b>Time</b>: {{ i.start_time }} - {{ i.end_time }}</h6>
                            <h6><b>Venue</b>: {{ i.venue }}</h6>
                        </div>
                        <div class="card-action">
                            {% if user()!="Guest" %}
                                <a class="waves-effect waves-light btn modal-trigger"
                                   href="#modal{{ i.id }}">purchase</a>
                            {% else %}
                                <a class="waves-effect waves-light btn modal-trigger not-active">purchase</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div id="modal{{ i.id }}" class="modal col s7">
                    <div lass="modal-content">
                        <div class="row">
                            <h4>Purchase Ticket(s) for {{ i.eventname }}</h4>
                            <ul class="collapsible" data-collapsible="accordion">
                                <li>
                                    <div class="collapsible-header"><i class="material-icons">credit_card</i>New
                                        Payment Card
                                    </div>
                                    <div class="collapsible-body">
                                        <a href="{{ url_for('add_payment') }}" class="btn waves-effect waves-white">Click
                                            here to be redirected to the page to add a payment option</a>
                                    </div>
                                </li>
                                <li>
                                    <div class="collapsible-header"><i class="material-icons">whatshot</i>Used
                                        Stored Payment Card
                                    </div>
                                    <div class="collapsible-body">
                                        <form action="{{ url_for('events_listing', cat=category) }}" method="POST">
                                            <button class="btn waves-effect waves-light" type="submit"
                                                    name="action">Purchase Now</a>
                                                {{ form.event_number(type="hidden", value=i.id) }}
                                            </button>
                                        </form>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <a class="modal-action modal-close waves-effect waves-green btn-flat">Exit</a>
                    </div>
                </div>
            {% endif %}
            {% if i.days < 0 %}
                <div class="col s12 m4 l4">
                    <div class="card large hoverable">
                        {% if i.format|string() == "image"|string() %}
                            <div class="card-image">
                                <a href="/details/{{ i.id }}">
                                    <img src="/static/posters/{{ i.poster }}" class="activator">
                                    <a href="#"
                                       class="btn-floating btn-large btn-price waves-effect waves-light  pink accent-2"
                                       style="z-index:444;top:15px;left:28px;position: absolute;">${{ i.admission }}</a>
                                </a>
                            </div>
                            <img height="180px;" style="z-index:444;bottom:15px;right:28px;position: absolute;"
                                         src="/static/content/ended.png">
                        {% elif i.format|string() == "video"|string() %}
                            <video class="responsive-video" controls>
                                <source src="{{ i.poster }}">
                            </video>
                            <img height="180px;" style="z-index:444;bottom:15px;right:28px;position: absolute;"
                                         src="/static/content/ended.png">
                        {% else %}
                            <div class="video-container">
                                <iframe src="{{ i.poster }}"
                                        frameborder="0" allowfullscreen=""></iframe>
                            </div>
                            <img height="180px;" style="z-index:444;bottom:15px;right:28px;position: absolute;"
                                         src="/static/content/ended.png">
                        {% endif %}
                        <ul class="card-action-buttons">
                            <li>
                                <a class="btn-floating waves-effect waves-light green accent-4">
                                    <i class="material-icons">remove_red_eye</i>
                                </a>
                            </li>
                            <li>
                                <a class="btn-floating waves-effect waves-light red accent-2">
                                    <i class="material-icons">favorite</i>
                                </a>
                            </li>
                            <li>
                                <span class="card-title activator grey-text text-darken-4">
                                    <a class="btn-floating waves-effect waves-light light-blue">
                                        <i class="material-icons">info</i>
                                    </a>
                                </span>
                            </li>
                        </ul>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">
                                <b>{{ i.eventname }}:</b>
                                <span class="right-align"> {{ sum_page_count(i.id) }} Views</span>
                            </span>
                        </div>
                        <div class="card-reveal">
                                <span class="card-title grey-text text-darken-4 center"><b>{{ i.eventname }}</b><i
                                        class="material-icons right">close</i></span>
                            <h6><b>Price</b>: {{ i.admission }}</h6>
                            <h6><b>Date</b>: {{ i.date }}</h6>
                            <h6><b>Time</b>: {{ i.start_time }} - {{ i.end_time }}</h6>
                            <h6><b>Venue</b>: {{ i.venue }}</h6>
                        </div>
                        <div class="card-action">
                            {% if user()!="Guest" %}
                                <a class="waves-effect waves-light btn modal-trigger"
                                   href="#modal{{ i.id }}">purchase</a>
                            {% else %}
                                <a class="waves-effect waves-light btn modal-trigger not-active">purchase</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div id="modal{{ i.id }}" class="modal col s7">
                    <div lass="modal-content">
                        <div class="row">
                            <h4>Purchase Ticket(s) for {{ i.eventname }}</h4>
                            <ul class="collapsible" data-collapsible="accordion">
                                <li>
                                    <div class="collapsible-header"><i class="material-icons">credit_card</i>New
                                        Payment Card
                                    </div>
                                    <div class="collapsible-body">
                                        <a href="{{ url_for('add_payment') }}" class="btn waves-effect waves-white">Click
                                            here to be redirected to the page to add a payment option</a>
                                    </div>
                                </li>
                                <li>
                                    <div class="collapsible-header"><i class="material-icons">whatshot</i>Used
                                        Stored Payment Card
                                    </div>
                                    <div class="collapsible-body">
                                        <form action="{{ url_for('events_listing', cat=category) }}" method="POST">
                                            <button class="btn waves-effect waves-light" type="submit"
                                                    name="action">Purchase Now</a>
                                                {{ form.event_number(type="hidden", value=i.id) }}
                                        </form>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <a class="modal-action modal-close waves-effect waves-green btn-flat">Exit</a>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
    <div class="row center">
        <ul class="pagination">
            <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
            {% if event_lst_size <= 1 %}
                <li class="disabled"><a href="/events/{{ category }}/{{ 1 }}">1</a></li>
            {% endif %}
            {% for s in range(1, event_lst_size+1) %}
                {% if s == page %}
                    <li class="disabled"><a href="/events/{{ category }}/{{ s }}">{{ s }}</a></li>
                {% else %}
                    <li class="waves-effect"><a href="/events/{{ category }}/{{ s }}">{{ s }}</a></li>
                {% endif %}
            {% endfor %}
            <li class="disabled"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
            <li></li>
        </ul>
    </div>
{% endblock %}