{% extends "base.html" %}
{% block body %}
    <style>
        .not-active {
            pointer-events: none;
            cursor: default;
        }
    </style>
    <div class="container">
{#        <!--card widgets start-->#}
{#        <div id="card-widgets">#}
{##}
{##}
{#            <!-- product-card -->#}
{#            <div class="col s12 m12 l4">#}
{#                <div class="product-card">#}
{#                    <div class="card">#}
{#                        <div class="card-image waves-effect waves-block waves-light">#}
{#                            <a href="#"#}
{#                               class="btn-floating btn-large btn-price waves-effect waves-light  pink accent-2">$189</a>#}
{#                            <img src="/static/material-images/images/gallary/33.jpg" alt="product-img">#}
{#                        </div>#}
{#                        <ul class="card-action-buttons">#}
{#                            <li><a class="btn-floating waves-effect waves-light green accent-4"><i#}
{#                                    class="mdi-av-repeat"></i></a>#}
{#                            </li>#}
{#                            <li><a class="btn-floating waves-effect waves-light red accent-2"><i#}
{#                                    class="mdi-action-favorite"></i></a>#}
{#                            </li>#}
{#                            <li><a class="btn-floating waves-effect waves-light light-blue"><i#}
{#                                    class="mdi-action-info activator"></i></a>#}
{#                            </li>#}
{#                        </ul>#}
{#                        <div class="card-content">#}
{##}
{#                            <div class="row">#}
{#                                <div class="col s8">#}
{#                                    <p class="card-title grey-text text-darken-4"><a href="#" class="grey-text text-darken-4">Featured#}
{#                                        Product of The Month</a>#}
{#                                    </p>#}
{#                                </div>#}
{#                                <div class="col s4 no-padding">#}
{#                                    <a href=""></a><img src="/static/material-images/images/amazon.jpg" alt="amazon" class="responsive-img">#}
{##}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                        <div class="card-reveal">#}
{#                            <span class="card-title grey-text text-darken-4"><i class="mdi-navigation-close right"></i> Apple MacBook Pro A1278 13"</span>#}
{#                            <p>Here is some more information about this product that is only revealed once clicked#}
{#                                on.</p>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{##}
{##}
{#        </div>#}
{#        <!--card widgets end-->#}

        <div class="row">
            {% for i in event_lst %}
                {% if i.days > 0 %}
                    <div class="col s12 m4 l4">
                        <div class="card large">
                            <div class="card-image">
                                <a href="/details/{{ i.id }}"><img src="/static/posters/{{ i.poster }}"></a>
                            </div>
                            <div class="card-content">
                                <span class="card-title activator grey-text text-darken-4"><b>{{ i.eventname }}</b><i
                                        class="material-icons right">more_vert</i></span>
                            </div>
                            <div class="card-reveal">
                                <span class="card-title grey-text text-darken-4 center"><b>{{ i.eventname }}</b><i
                                        class="material-icons right">close</i></span>
                                <h6><b>Price</b>: {{ i.admission }}</h6>
                                <h6><b>Date</b>: {{ i.date }}</h6>
                                <h6><b>Time</b>: {{ i.start_time }} - {{ i.end_time }}</h6>
                                <h6><b>Venue</b>: {{ i.venue }}</h6>
                            </div>
                            <div class="card-action">
                                <p>Views: {{ sum_page_count(i.id) }}</p>
                                {% if user()!="Guest" %}
                                    <a class="waves-effect waves-light btn modal-trigger" href="#modal{{ i.id }}">purchase</a>
                                {% else %}
                                    <a class="waves-effect waves-light btn modal-trigger not-active">purchase</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div id="modal{{ i.id }}" class="modal col s7">
                        <div lass="modal-content">
                            <div class="row">
                                <h4>Purchase Ticket(s) for {{ i.eventname }}</h4>
                                <ul class="collapsible" data-collapsible="accordion">
                                    <li>
                                        <div class="collapsible-header"><i class="material-icons">credit_card</i>New
                                            Payment Card
                                        </div>
                                        <div class="collapsible-body">
                                            <a href="{{ url_for('add_payment') }}" class="btn waves-effect waves-white">Click
                                                here to be redirected to the page to add a payment option</a>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="collapsible-header"><i class="material-icons">whatshot</i>Used
                                            Stored Payment Card
                                        </div>
                                        <div class="collapsible-body">
                                            <form action="{{ url_for('events_listing', cat=category) }}" method="POST">
                                                <button class="btn waves-effect waves-light" type="submit"
                                                        name="action">Purchase Now</a>
                                                    {{ form.event_number(type="hidden", value=i.id) }}
                                            </form>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <a class="modal-action modal-close waves-effect waves-green btn-flat">Exit</a>
                        </div>
                    </div>
                {% endif %}
                {% if i.days < 0 %}
                    <div class="col s12 m4 l4">
                        <div class="card large">
                            <div class="card-image">
                                <a href="/details/{{ i.id }}"><img src="/static/posters/{{ i.poster }}"><img
                                        height="180px;" style="z-index:444;bottom:15px;right:28px;position: absolute;"
                                        src="/static/content/ended.png"></a>
                            </div>
                            <div class="card-content">
                                <span class="card-title activator grey-text text-darken-4"><b>{{ i.eventname }}</b><i
                                        class="material-icons right">more_vert</i></span>
                            </div>
                            <div class="card-reveal">
                                <span class="card-title grey-text text-darken-4 center"><b>{{ i.eventname }}</b><i
                                        class="material-icons right">close</i></span>
                                <h6><b>Price</b>: {{ i.admission }}</h6>
                                <h6><b>Date</b>: {{ i.date }}</h6>
                                <h6><b>Time</b>: {{ i.start_time }} - {{ i.end_time }}</h6>
                                <h6><b>Venue</b>: {{ i.venue }}</h6>
                            </div>
                            <div class="card-action">
                                <p>Views: {{ sum_page_count(i.id) }}</p>
                                {% if user()!="Guest" %}
                                    <a class="waves-effect waves-light btn modal-trigger" href="#modal{{ i.id }}">purchase</a>
                                {% else %}
                                    <a class="waves-effect waves-light btn modal-trigger not-active">purchase</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div id="modal{{ i.id }}" class="modal col s7">
                        <div lass="modal-content">
                            <div class="row">
                                <h4>Purchase Ticket(s) for {{ i.eventname }}</h4>
                                <ul class="collapsible" data-collapsible="accordion">
                                    <li>
                                        <div class="collapsible-header"><i class="material-icons">credit_card</i>New
                                            Payment Card
                                        </div>
                                        <div class="collapsible-body">
                                            <a href="{{ url_for('add_payment') }}" class="btn waves-effect waves-white">Click
                                                here to be redirected to the page to add a payment option</a>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="collapsible-header"><i class="material-icons">whatshot</i>Used
                                            Stored Payment Card
                                        </div>
                                        <div class="collapsible-body">
                                            <form action="{{ url_for('events_listing', cat=category) }}" method="POST">
                                                <button class="btn waves-effect waves-light" type="submit"
                                                        name="action">Purchase Now</a>
                                                    {{ form.event_number(type="hidden", value=i.id) }}
                                            </form>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <a class="modal-action modal-close waves-effect waves-green btn-flat">Exit</a>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}