<div id="top-nav">
    <ul id="dropdown1" class="dropdown-content">
        <li><a href="{{ url_for('signup') }}">Signup</a></li>
        <li class="divider"></li>
        <li><a href="{{ url_for('login') }}">Login</a></li>
    </ul>
    <nav style="black" class="blue">
        <ul id="slide-out" class="side-nav">
            <li><a href="{{ url_for('signup') }}">Signup</a></li>
            <li><a href="{{ url_for('login') }}">Login</a></li>
        </ul>
        <a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
        <div class="nav-wrapper">
            <a href="/" class="brand-logo">SomniaChaser</a>
            <ul class="right hide-on-med-and-down">
                <li><a href="{{ url_for('landing') }}">Categories</a></li>
                <li>
                    <form>
                        <div class="input-field">
                            <input id="search" type="search" placeholder="Search" required>
                            <label for="search"><i class="mdi-action-search"></i></label>
                            <i class="mdi-navigation-close"></i>
                        </div>
                    </form>
                </li>
            </ul>
        </div>
    </nav>
</div>