<script type="text/javascript" src="{{ url_for('static', filename='js/search.js') }}"></script>
<link rel="stylesheet" href="/static/css/custom.css">
<div id="top-nav">
    <nav style="black" class="blue">
        <ul id="slide-out" class="side-nav">
            <li><a href="{{ url_for('signup') }}">Signup</a></li>
            <li><a href="{{ url_for('login') }}">Login</a></li>
            {#    <li class="no-padding">#}
            {#      <ul class="collapsible collapsible-accordion">#}
            {#        <li>#}
            {#          <a class="collapsible-header">Guest<i class="mdi-navigation-arrow-drop-down"></i></a>#}
            {#          #}
            {#        </li>#}
            {#      </ul>#}
            {#    </li>#}
        </ul>
        <a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
        <div class="nav-wrapper">
            <a href="/" class="brand-logo">DREAMVENT</a>
            <ul class="right hide-on-med-and-down">
                <li><a href="{{ url_for('landing') }}">Categories</a></li>
                <li><a href="{{ url_for('signup') }}">Signup</a></li>
                <li><a href="{{ url_for('login') }}">Login</a></li>
                <li>
                    <form>
                        <div class="input-field">
                            <input id="search" type="search" style="margin-bottom:0px;color:black;height:63px;" placeholder="Search" required>
                            <div id="search_results" style="width:260px;height"></div>
                            <label for="search"><i class="mdi-action-search"></i></label>
                            <i class="mdi-navigation-close"></i>
                        </div>
                    </form>
                </li>
            </ul>
        </div>
    </nav>
</div>

<script type="text/javascript">
    $(".button-collapse").sideNav();
</script>