{% extends "base.html" %}
{% block additional %}
    {% include "layout.html" %}
{% endblock %}
{% block body %}
    <script type="text/javascript">
        var follow_friend = function (e) {
            $.getJSON($SCRIPT_ROOT + '/friend_handler', {
                a: e
            }, function (data) {
                if (data.result == "Successfully following user"){
                    $('#results'+String(e)).text("done");
                }
                else{
                    $('#results'+String(e)).text("indeterminate_check_box");
                }
            });
            return false;
        };

        function send_result(res) {
            console.log(res);
            follow_friend(res);
        }
    </script>
    {% for f in friend %}
        <p>{{ f.usersname }} <a id="{{ f.id }}" onClick="send_result(this.id)" class="btn-floating btn-large waves-effect waves-light tooltipped blue" data-position="right" data-delay="50" data-tooltip="follow"><i id="results{{ f.id }}" class="material-icons">check_box_outline_blank</i></a></p>
    {% endfor %}
{% endblock %}